.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.tgitconfig
*.log
*.cgi
log/
src/
thumb/
thumbnail/
webp/
temp/
tmp/
cache/
errorlog/

# Composer
/vendor
/composer.lock

# PHPUnit
.phpunit.result.cache
/.phpunit.cache
/code-coverage-report
*.afphoto~lock~

