<!-- 編集削除前画面のスレッドのループ処理 -->
<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as $ress) : ?>
<article>
<h2 class="article_title">[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></h2>
	<!-- スレッドのループ -->
	<?php foreach($ress as $i => $res) : ?>
	<!-- 縮小のかかったNSFW画像を元のサイズへ -->
	<?php if($set_nsfw_show_hide):?><?php $res['w']=$res['_w'];$res['h']=$res['_h'];?><?php endif;?>
	<hr>
	<h3 class="imginfo_wrap">

	<?php if($edit_mode==='delmode'):?>
		<input type="checkbox" name="id_and_no" form="before_delete" id="id_and_no" value="<?=h($res['time'])?>,<?=h($res['no'])?>">
		<label for="id_and_no">
	<?php endif;?>
	<?php if($edit_mode==='editmode'):?>
		<input type="hidden" name="id_and_no" form="before_delete" value="<?=h($res['time'])?>,<?=h($res['no'])?>">
	<?php endif;?>
	<span class="info_name"><span><?= h($res['name'])?></span></span>
	<?php if($res['verified']):?>
	<span class="icon-checkmark2"></span>
	<?php endif?>
	<?php if($res['url']):?><span>[<a href="<?=h($res['url'])?>" target="_blank" rel="nofollow noopener noreferrer">URL</a>]</span><?php endif;?>
	<?php if($res['userid']):?><span>ID:<?= h($res['userid'])?></span><?php endif;?>
	<span><?=h($res['date'])?></span>		
<?php if($res['img']):?>
	<?php if($res['tool']):?><span>Tool:<?=h($res['tool'])?></span><?php endif;?>
	<?php if($res['painttime']):?>
		<span><?php if($en):?>Paint time:<?=h($res['painttime_en'])?><?php else:?>描画時間:<?=h($res['painttime'])?><?php endif;?></span>
		
		<?php endif;?>
		<span>
			<?php if($res['hide_thumbnail']):?>
				<?php if($en):?>- Hiding thumbnail -<?php else:?>- サムネ非表示 -<?php endif;?>	
			<?php elseif($res['thumbnail']):?>
				<?php if($en):?>- Showing thumbnail -<?php else:?>- サムネイル表示中 -<?php endif;?>	
			<?php endif;?>
		</span>
<?php endif;?>
<?php if($edit_mode==='delmode'):?>
</label>
<?php endif;?>

<?php if($admindel):?>
		<br>
		HOST:<?=h($res['host'])?>
		<?php endif;?> 
</h3>
		<?php if($res['img']):?>
			<div class="posted_image <?php if($res['hide_thumbnail']):?>hide_thumbnail<?php endif;?>" style="<?php if($res['w']>747):?>float:none;margin-right:0;<?php endif;?>max-width:<?=h($res['w'])?>px;max-height:<?=h($res['h'])?>px;">
				<a href="src/<?=h($res['img'])?>" target="_blank" data-lightbox="<?=h($res['no'])?>_<?=h($res['time'])?>">
			<?php if($res['thumbnail']):?>
					<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>">
			<?php else:?>
			<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>">
			<?php endif;?>
			<?php if($res['hide_thumbnail']):?>
					<span>NSFW</span>
						<?php endif;?>
					</a>
			</div>
			<?php endif;?>
			<div class="comment"><?= com(h($res['com']))?></div>

	<?php endforeach;?>
	</article>
<?php endforeach;?>
<?php endif;?>
