<a href="https://paintbbs.sakura.ne.jp/" target="_blank" rel="noopener noreferrer" title="Petit Note <?=h($petit_ver)?> <?=h($petit_lot)?>">Petit Note <?=h($petit_ver)?></a> <span>Template <a href="https://paintbbs.sakura.ne.jp/" target="_blank" rel="noopener noreferrer" title="BASIC">BASIC</a></span><br>
<span>OekakiApp -</span> 
	<span><a href="http://github.com/funige/neo/" target="_blank" rel="noopener noreferrer" title="by funige">PaintBBS NEO</a></span>
	, 
	<span><a href="https://github.com/desuwa/tegaki" target="_blank" rel="noopener noreferrer" title="by Maxime Youdine">Tegaki</a></span> , 
	<span><a href="https://github.com/axnospaint/axnospaint-lib" target="_blank" rel="noopener noreferrer" title="by Axnos Paint">Axnos Paint</a></span> , 
	<span><a href="https://github.com/bitbof/klecks"  target="_blank" rel="noopener noreferrer" title="by bitbof">Klecks</a></span>
	, 
	<span><a href="https://github.com/satopian/ChickenPaint_Be" target="_blank" rel="noopener noreferrer" title="by satopian">ChickenPaint Be</a></span>

<br>
UseFunction - <span title="by WonderCatStudio">DynamicPalette</span>
<!--http://wondercatstudio.com/-->
, 
<span><a href="http://lokeshdhakar.com/projects/lightbox2/" target="_blank" rel="noopener noreferrer" title="by Lokesh Dhakar" >Lightbox</a></span>
