<!-- head preload 共通パーツ -->
<link rel="preload" as="style" href="<?=h($skindir)?>icomoon/style.css?<?=h($petit_lot)?>" onload="this.rel='stylesheet'">
<link rel="preload" as="style" href="lib/lightbox/css/lightbox.min.css?<?=h($petit_lot)?>" onload="this.rel='stylesheet'">
<link rel="preload" as="script" href="lib/lightbox/js/lightbox.min.js?<?=h($petit_lot)?>">
<link rel="preload" as="script" href="lib/<?=h(JQUERY)?>">
<link rel="preload" as="script" href="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>">
