<?php
	$mode=(string)filter_input_data('GET','mode');
	$mode=in_array($mode,["catalog","search"]) ? $mode : "";
	$search=($mode==="search");
	$imgsearch=(bool)filter_input_data('GET','imgsearch',FILTER_VALIDATE_BOOLEAN);
	$imgsearch= $imgsearch ? "on" : "off";
	$radio =(int)filter_input_data('GET','radio',FILTER_VALIDATE_INT);
	$en_q= $en_q ?? "";
?>
<div class="pagination">
<?php if($page >= ($pagedef*17)):?>
	<a href="?page=0<?php if($mode):?>&mode=<?=h($mode)?><?php endif;?><?php if($search):?>&imgsearch=<?=h($imgsearch)?>&q=<?=h($en_q)?>&radio=<?=h($radio)?><?php endif;?>">First</a> |
<?php endif;?>
<?php for($i = $start_page; ($i < $count_alllog && $i <= $end_page) ; $i+=$pagedef) :?>
	<?php if($page==$i):?>
			[<strong><?=h($i/$pagedef)?></strong>]
	<?php else: ?>
			[<a href="?page=<?=h($i)?><?php if($mode):?>&mode=<?=h($mode)?><?php endif;?><?php if($search):?>&imgsearch=<?=h($imgsearch)?>&q=<?=h($en_q)?>&radio=<?=h($radio)?><?php endif;?>"><?php if($i===0):?>0<?php elseif($i === $start_page):?>≪<?php elseif($i === $end_page):?>≫<?php else:?><?=h($i/$pagedef)?><?php endif;?></a>]
	<?php endif;?>
<?php endfor ;?>
<?php if($end_page < $count_alllog):?>
	| <a href="?page=<?=h(ceil(($count_alllog/$pagedef)-1)*$pagedef)?><?php if($mode):?>&mode=<?=h($mode)?><?php endif;?><?php if($search):?>&imgsearch=<?=h($imgsearch)?>&q=<?=h($en_q)?>&radio=<?=h($radio)?><?php endif;?>">Last</a>
<?php endif;?>
</div>
