<?php if($use_paintbbs_neo):?>
	<option value="neo" 
	<?php if($appc==='neo'):?>
	selected
	<?php endif;?>
	>PaintBBS NEO</option>
<?php endif;?>
<?php if($use_tegaki):?>
	<option value="tegaki"
	<?php if($appc==='tegaki'):?>
	selected
	<?php endif;?>
	>Tegaki</option>
<?php endif;?>
<?php if($use_chickenpaint):?>
	<option value="chi"
	<?php if($appc==='chi'):?>
	selected
	<?php endif;?>
	>ChickenPaint</option>
<?php endif;?>
<?php if($use_klecs):?>
	<option value="klecks"
	<?php if($appc==='klecks'):?>
	selected
	<?php endif;?>
	>Klecks</option>
<?php endif;?>
