<?php if($select_app):?>
<span>Tool:
<select name="app" class="select_applet">
<?php if($use_paintbbs_neo):?>
	<option value="neo" 
	<?php if($appc==='neo'):?>
	selected
	<?php endif;?>
	>PaintBBS NEO</option>
<?php endif;?>
<?php if($use_chickenpaint):?>
	<option value="chi"
	<?php if($appc==='chi'):?>
	selected
	<?php endif;?>
	>ChickenPaint</option>
<?php endif;?>
<?php if($use_klecs):?>
	<option value="klecks"
	<?php if($appc==='klecks'):?>
	selected
	<?php endif;?>
	>Klecks</option>
	</select>
<?php endif;?>
</span>
<?php else:?>
<input type="hidden" name="app" value="<?=h($app_to_use)?>">
<?php endif;?>