<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
	<?php include __DIR__.'/parts/head_preload_css_js.html';?>
	<title><?=h($boardname)?></title> 
</head>
<body>

<div class="container">
	<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap">
	<span>
	<?php if($resno):?>
		
		[<a href="./?resno=<?=h($resno)?><?php if($id):?>#<?=h($id)?><?php endif;?>"><?php if($en):?>Return to thread<?php else:?>スレッドにもどる<?php endif;?></a>]
	<?php else:?>
		[<a href="./?page=<?=h($page)?>"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]
	<?php endif;?>
	</span>	
</nav>

<?php if($adminpost||$admindel):?>
<ul>
<?php if($adminpost):?>
<li>
<?php if($use_diary):?>
	<?php if($en):?>You are logged in in diary mode.<?php else:?>日記モードでログイン中です。<?php endif;?>
			
<?php else:?>
		<?php if($en):?>You are logged in in admin post mode.<?php else:?>管理者投稿モードでログイン中です。<?php endif;?>		
<?php endif;?>

</li>
<?php endif;?>
<?php if($admindel):?>
<li>
<?php if($en):?>You are logged in in admin edit mode.<?php else:?>管理者編集モードでログイン中です。<?php endif;?>
</li>
<?php endif;?>
</ul>

<form action="./" method="post" class="admin">
<input type="hidden" name="mode" value="logout_admin">
<input type="submit" value="<?php if($en):?>Admin log out<?php else:?>管理者ログアウト<?php endif;?>">
	</form>
	<?php endif;?>

	<?php if(!$adminpost || !$admindel):?>

	<form action="./" method="post" class="admin" id="res_form" onsubmit="return res_form_submit(event)">
	<div id="error_message"></div>
	<?php if(!$admindel):?>
		
		<label><input type="radio" name="mode" value="admin_del" checked>
		<?php if($en):?>[Admin edit mode]<?php else:?>[管理者編集モード]<?php endif;?></label>
			<br>
		<?php endif;?>
		<?php if(!$adminpost):?>
		
		<label><input type="radio" name="mode" value="adminpost" 
			<?php if(!$admindel):?>checked<?php endif;?>>
			<?php if($use_diary):?>
				<?php if($en):?>[Diary mode]<?php else:?>[日記モード]<?php endif;?>
			<?php else:?>
				<?php if($en):?>[Admin post mode]<?php else:?>[管理者投稿モード]<?php endif;?>
				<?php endif;?>
			</label><br>
			<?php endif;?>
		
		<span class="non"><input type="text" value="" autocomplete="username"></span>
		<input type="password" name="adminpass">
		<input type="submit" value="<?php if($en):?>Admin login<?php else:?>管理者ログイン<?php endif;?>">
	</form>
	<?php endif;?>

<hr>
<div class="copy">
<?php if(isset($latest_var)&&$latest_var):?>
	<div class="left_wrap">
	<a href="https://github.com/satopian/Petit_Note/releases/latest" target="_blank" rel="noopener"><img src="https://img.shields.io/github/v/release/satopian/Petit_Note?label=Latest" alt="Latest release"></a>
	</div>
<?php endif;?>
<div class="righit_wrap">
<?php include __DIR__.'/parts/copyright.html';?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<?php include __DIR__.'/parts/footer_js.html';?>
</body>
</html>
		