<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php include __DIR__.'/parts/head_preload_css_js.html';?>
<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
<title><?=h($boardname)?></title> 
</head>
<body>
<div class="container" id="top">
	<div class="mainform">
	<!-- 合言葉認証 -->
	<?php include __DIR__.'/parts/form_aikotoba.html'?>
	</div>
</div>
<?php include __DIR__.'/parts/footer_js.html';?>
</body>
</html>
