<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
<link rel="preload" as="style" href="<?=h($skindir)?>icomoon/style.css" onload="this.rel='stylesheet'">
<link rel="preload" as="style" href="lib/luminous/luminous-basic.min.css" onload="this.rel='stylesheet'">
<link rel="preload" as="script" href="lib/luminous/luminous.min.js">
<link rel="preload" as="script" href="lib/<?=h(JQUERY)?>">
<link rel="preload" as="script" href="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>">
<?php include('parts/nsfw_css_control.html');?>

	<title><?=h($boardname)?></title> 
</head>
<body>
<div class="container" id="top">
	<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
	<nav class="menu_wrap">
		<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
<?php if($userdel || $admindel):?>
	<span>
		<?php if($postresno):?>
		[<a href="./?mode=logout&resno=<?=h($postresno)?>"><?php if($en):?>Exit edit mode<?php else:?>編集モード終了<?php endif;?></a>]
		<?php endif;?>
		<?php if(!$postresno):?>
		[<a href="./?mode=logout&page=<?=h($postpage)?>"><?php if($en):?>Exit edit mode<?php else:?>編集モード終了<?php endif;?></a>]
		<?php endif;?>
	</span>
<?php endif;?>
<a href="#bottom">▽</a>
</nav>
<h2 class="article_title"><?php if($en):?>Edit mode<?php else:?>編集モード<?php endif;?></h2>

<div id="error_message_beforedelete"></div>
<?php if($admindel):?>
	<?php if($en):?>Edit this article. Press the edit button.<?php else:?>この記事を編集します。編集ボタンを押してください。<?php endif;?>: 
<?php endif;?>
<?php if($userdel&&!$admindel):?>
	<?php if($en):?>Edit this article. Please enter password.<?php else:?>この記事を編集します。パスワードを入力してください。<?php endif;?>: 
<?php endif;?>
<?php if( $admindel || $aikotoba && $userdel):?>
<form action="./" method="POST" id="before_delete" class="aikotoba" onsubmit="return res_form_submit(event,'before_delete')">

<?php if(!$admindel):?>

<span class="non"><input type="text" value="" autocomplete="username"></span>
<input type="password" name="pwd" value="<?=h($pwdc)?>" autocomplete="current-password">
<?php endif;?>
<input type="hidden" name="mode" value="edit_form">
<input type="hidden" name="resmode" value="<?=h($resmode)?>">
<input type="hidden" name="postresno" value="<?=h($postresno)?>">
<input type="hidden" name="postpage" value="<?=h($postpage)?>">
<input type="submit" value="<?php if($en):?>Edit<?php else:?>編集<?php endif;?>">
</form>
<?php endif;?>

<hr>
	<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as $ress) : ?>

<h2 class="article_title">[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></h2>
	<!-- スレッドのループ -->
	<?php foreach($ress as $i => $res) : ?>
	<!-- 縮小のかかったNSFW画像を元のサイズへ -->
	<?php if($set_nsfw_show_hide):?><?php $res['w']=$res['_w'];$res['h']=$res['_h'];?><?php endif;?>

	<hr>
	<div class="imginfo_wrap">
	<input type="hidden" name="id_and_no" form="before_delete" value="<?=h($res['time'])?>,<?=h($res['no'])?>">
	<span><?= h($res['name'])?></span>
	<?php if($res['verified']):?>
	<span class="icon-checkmark2"></span>
	<?php endif?>
	<?php if($res['url']):?><span>[<a href="<?=h($res['url'])?>" target="_blank" rel="nofollow noopener noreferrer">URL</a>]</span><?php endif;?>
	<?php if($res['userid']):?><span>ID:<?= h($res['userid'])?></span><?php endif;?>
	<span><?=h($res['date'])?></span>		
<?php if($res['img']):?>
	<span>Tool:<?=h($res['tool'])?></span>
	<?php if($res['painttime']):?>
		<span><?php if($en):?>Paint time:<?php else:?>描画時間:<?php endif;?><?=h($res['painttime'])?></span>
		
		<?php endif;?>
		<span>
			<?php if($res['hide_thumbnail']):?>
				<?php if($en):?>- Hiding thumbnail -<?php else:?>- サムネ非表示 -<?php endif;?>	
			<?php elseif($res['thumbnail']):?>
				<?php if($en):?>- Showing thumbnail -<?php else:?>- サムネイル表示中 -<?php endif;?>	
			<?php endif;?>
		</span>
<?php endif;?>
	<?php if($admindel):?>
		<br>
		HOST:<?=h($res['host'])?>
		<?php endif;?> 
	</div>
		<?php if($res['img']):?>
			<div class="posted_image <?php if($res['hide_thumbnail']):?>hide_thumbnail<?php endif;?>" style="<?php if($res['w']>747):?>float:none;margin-right:0;<?php endif;?>max-width:<?=h($res['w'])?>px;max-height:<?=h($res['h'])?>px;">
				<a href="src/<?=h($res['img'])?>" target="_blank" class="luminous">
				<?php if($res['thumbnail']):?>
					<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>">
			<?php else:?>
			<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>">
				<?php endif;?>
				<?php if($res['hide_thumbnail']):?>
					<p>NSFW</p>
						<?php endif;?>
				</a>
			</div>
		<?php endif;?>
			<div class="comment"><?= com(h($res['com']))?></div>
			<?php endforeach;?>
			<?php endforeach;?>
			<?php endif;?>
<div class="clear"></div>
<hr>
<div class="copy">
<div class="left_wrap">[<a href="<?=h($home)?>">HOME</a> /
<?php if($postresno):?>
<a href="./?mode=adminin&resno=<?=h($postresno)?>"><?php if($en):?>Admin<?php else:?>管理<?php endif;?></a>]
<?php endif;?>
<?php if(!$postresno && ($postpage||$postpage===0)):?>
<a href="./?mode=adminin&page=<?=h($postpage)?>"><?php if($en):?>Admin<?php else:?>管理<?php endif;?></a>]
<?php endif;?>
</div>

<div class="righit_wrap">
<?php include(__DIR__.'/parts/copyright.html');?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<script src="lib/<?=h(JQUERY)?>"></script>
<script src="lib/luminous/luminous.min.js"></script>
<script src="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>"></script>
</body>
</html>
	