<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
<link rel="preload" as="style" href="<?=h($skindir)?>icomoon/style.css" onload="this.rel='stylesheet'">
<link rel="preload" as="style" href="lib/luminous/luminous-basic.min.css" onload="this.rel='stylesheet'">
<link rel="preload" as="script" href="lib/luminous/luminous.min.js">
<link rel="preload" as="script" href="lib/<?=h(JQUERY)?>">
<link rel="preload" as="script" href="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>">
<?php include('parts/nsfw_css_control.html');?>

<title><?=h($boardname)?></title> 
</head>
<body>

<div class="container" id="top">

<?php if($set_nsfw && !$nsfwc):?>
	<div class="view_nsfw">
	<span><?php if($en):?>View NSFW images?<?php else:?>年齢制限付きのコンテンツを表示してもよろしいでしょうか?<?php endif;?></span>
	<form action="./" method="post">
	<input type="hidden" name="mode" value="view_nsfw">
	<input type="hidden" name="view_nsfw" value="on">
	<input type="hidden" name="postpage" value="<?=h($page)?>">
	<input type="hidden" name="catalog" value="on">
	<input type="submit" value="<?php if($en):?>Yes<?php else:?>はい表示します。<?php endif;?>">
	</form>
	</div>
<?php endif;?>

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap" >
<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
<a href="#bottom">▽</a>
</nav>
<hr>
<div class="catalog_wrap">
	<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as $t => $ress):?><?php foreach($ress as  $res):?><span class="catalog_image <?php if($res['hide_thumbnail']):?>hide_thumbnail<?php endif;?>">	
		<?php if($res['img']):?>
			<a href="./?resno=<?=h($res['no'])?>#<?=h($res['time'])?>" target="_blank">
			<?php if($res['webpimg']):?>
			<picture><source srcset="<?=h($res['webpimg'])?>" type="image/webp">
			<?php endif;?>
			<?php if($res['thumbnail']):?>
				<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?> <?=h($res['date'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?> <?=h($res['date'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" <?php if($t>11):?>loading="lazy"<?php endif;?>>
			<?php else:?>
				<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?> <?=h($res['date'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?> <?=h($res['date'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" <?php if($t>11):?>loading="lazy"<?php endif;?>>
			<?php endif;?>
			<?php if($res['webpimg']):?>
			</picture>
			<?php endif;?>
			<?php if($res['hide_thumbnail']):?>
					<p>NSFW</p>
			<?php endif;?>
			</a>
			<?php else:?>
				<a href="./?resno=<?= h($res['no'])?>" target="_blank"><?php if($en):?>No image.<?php else:?>画像なし<?php endif;?></a>
		<?php endif;?>
				</span><?php endforeach; ?><?php endforeach; ?>
</div>

<hr>

<?php endif;?>
<nav>
<div class="pagelink">
		
	<span class="prev">
			<?php if($prev!==false):?>
				<a href="?mode=catalog&page=<?=h($prev)?>
			">≪prev</a>
	<?php endif;?>
	</span>
	| <a href="./">top</a> |
	<span class="next">
	<?php if($next):?>
		<a href="?mode=catalog&page=<?=h($next)?>
	">next≫</a>
	<?php endif;?>
	</span>
</div>
<div class="pagination">
<?php if($prev!==false):?>
<a href="?mode=catalog&page=0">start</a> |
<?php endif;?>

<?php for($i = $start_page; ($i < $count_alllog && $i <= $end_page) ; $i+=$pagedef) :?>
	<?php if($page==$i):?>
			[<strong><?=h($i/$pagedef)?></strong>]
		<?php else: ?>
			<?php if($i===0):?>
				[<a href="?mode=catalog&page=0">0</a>]
			<?php else:?>	
			<?php if($i === $end_page):?>
			<!-- 特定のページに代入される記号 エンド -->
				[<a href="?mode=catalog&page=<?=h($i)?>">≫</a>]
				<?php elseif($i === $start_page):?>
				[<a href="?mode=catalog&page=<?=h($i)?>">≪</a>]
					<?php else:?>
			[<a href="?mode=catalog&page=<?=h($i)?>"><?=h($i/$pagedef)?></a>]
			<?php endif;?>
			<?php endif;?>
		<?php endif;?>
		<?php endfor ;?>
		<?php if($next):?>
		| <a href="?mode=catalog&page=<?=h(ceil(($count_alllog/$pagedef)-1)*$pagedef)?>">end</a>
		<?php endif;?>
</div>
</nav>
	<div class="copy">
		<div class="left_wrap">
		[<a href="<?=h($home)?>">HOME</a> / <a href="./?mode=adminin&catalog=on&page=<?=h($page)?>"><?php if($en):?>Admin<?php else:?>管理<?php endif;?></a>]
	</div>
<div class="righit_wrap">
<?php include(__DIR__.'/parts/copyright.html');?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<script src="lib/<?=h(JQUERY)?>"></script>
<script src="lib/luminous/luminous.min.js"></script>
<script src="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>"></script>
</body>
</html>
