<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
	<?php include __DIR__.'/parts/head_preload_css_js.html';?>
	<?php include __DIR__.'/parts/nsfw_css_control.html';?>

<title><?=h($boardname)?></title> 
</head>
<body>

<div class="container" id="top">

<!-- 閲覧注意警告 -->
<?php include __DIR__.'/parts/form_view_nsfw.html'?>

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap" >
<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
<a href="#bottom">▽</a>
</nav>
	<!-- 閲覧注意画像を隠す/隠さない -->
	<?php include __DIR__.'/parts/form_set_nsfw_show_hide.html';?>
<hr>
<div class="catalog_wrap">
<!-- 画像一覧 -->
<?php include 'parts/catalog_images_loop.html';?>
</div>

<hr>
<nav>
	<?php include __DIR__.'/parts/prev_next.html';?>
	<?php include __DIR__.'/parts/paging.html';?>
</nav>

	<div class="copy">
		<div class="left_wrap">
		<?php include __DIR__.'/parts/admin_login_link.html';?>
	</div>
<div class="righit_wrap">
<?php include __DIR__.'/parts/copyright.html';?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<?php include __DIR__.'/parts/footer_js.html';?>
</body>
</html>
