<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css">

<?php if($set_nsfw && !$nsfwc):?>
	<!-- センシティブコンテンツにブラーをかける -->
<style>img {filter:blur(10px);}</style>
<?php endif;?>

<title><?=h($boardname)?></title>
</head>
<body>

<div class="container" id="top">

<?php if($set_nsfw && !$nsfwc):?>
	<h2>年齢制限付きのコンテンツを表示してもよろしいでしょうか?</h2>
	<form action="./" method="post">
	<input type="hidden" name="mode" value="view_nsfw">
	<input type="hidden" name="view_nsfw" value="on">
	<input type="hidden" name="catalogpage" value="<?=h($page)?>">
	<input type="submit" value="はい表示します。">
</form>
<?php endif;?>

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap" >
<span>[<a href="./">掲示板にもどる</a>]</span>
<a href="#bottom">▽</a>
</nav>
<hr>
<div class="catalog_desc_wrap">
	<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as  $ress):?>
	<?php foreach($ress as  $res):?>
	<div class="catalog_image">			
		<?php if($res['img']):?>
			<a href="./?resno=<?= h($res['no'])?>" target="_blank">
			<?php if($res['thumbnail']):?>
				
					<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" loading="lazy">
				
			<?php else:?>
			<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" loading="lazy">
			<?php endif;?>
			</a>
			<?php else:?>
				<a href="./?resno=<?= h($res['no'])?>" target="_blank">画像なし</a>
		<?php endif;?>
	</div>
	
	<?php endforeach; ?>
	<?php endforeach; ?>
	<span class="catalog_pagetop"><a href="#top">△</a></span>
</div>


<hr>

<?php endif;?>
<?php
//ページング
$start_page=$page-$pagedef*8;
if($page<$pagedef*17){
	$start_page=0;
}
$end_page=$page+($pagedef*8)	;
if($page<$pagedef*17){
	$end_page=$pagedef*17;
}
//prev next 
$next=(($page+$pagedef)<$count_alllog) ? $page+$pagedef : false;//ページ番号がmaxを超える時はnextのリンクを出さない
$prev=((int)$page!==0) ? ($page-$pagedef) : false;//ページ番号が0の時はprevのリンクを出さない
?>
<div class="pagelink">
		
	<span class="prev">
			<?php if($prev!==false):?>
			<a href="?mode=catalog&page=<?=h($prev)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>
			">≪prev</a>
	<?php endif;?>
	</span>
	| <a href="#top">top</a> |
	<span class="next">
	<?php if($next):?>
	<a href="?mode=catalog&page=<?=h($next)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>
	">next≫</a>
	<?php endif;?>
	</span>
</div>

<?php if($prev!==false):?>
<a href="?mode=catalog&page=0<?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>">start</a> |
<?php endif;?>

<?php for($i = 0; $i < $count_alllog ; $i+=$pagedef) :?>
<?php if(($i>=$start_page)&&($i<=$end_page)):?>
	<?php if($page==$i):?>
			[<?=h($i/$pagedef)?>]
		<?php else: ?>
			<?php if($i==0):?>
				[<a href="?mode=catalog&page=0<?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>">0</a>]
			<?php else:?>	
			<?php if($i === $end_page):?>
			<!-- 特定のページに代入される記号 エンド -->
				[<a href="?mode=catalog&page=<?=h($i)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>">≫</a>]
				<?php elseif($i === $start_page):?>
				[<a href="?mode=catalog&page=<?=h($i)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>">≪</a>]
					<?php else:?>
			[<a href="?mode=catalog&page=<?=h($i)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>"><?=h($i/$pagedef)?></a>]
			<?php endif;?>
			<?php endif;?>
		<?php endif;?>
		<?php endif;?>
		<?php endfor ;?>
		<?php if($next):?>
		| <a href="?mode=catalog&page=<?=h(ceil(($count_alllog/$pagedef)-1)*$pagedef)?><?php if($encoded_q):?>&q=<?=h($encoded_q)?><?php endif;?>">end</a>
		<?php endif;?>


	<div class="copy">
		<div class="left_wrap">
		[<a href="<?=h($home)?>">HOME</a> / <a href="./?mode=adminin&page=<?=h($page)?>">管理</a>]
	</div>
<div class="righit_wrap">
<a href="https://paintbbs.sakura.ne.jp/petit/" target="_blank" rel="noopener noreferrer" title="Petit Note <?=h($petit_ver)?> <?=h($petit_lot)?>">Petit Note <?=h($petit_ver)?></a> <span>Web Style by BASIC</span><br>
<span>OekakiApp -</span> <a href="http://github.com/funige/neo/" target="_blank" rel="noopener noreferrer" title="by funige">PaintBBS NEO</a> , <a href="https://github.com/thenickdude/chickenpaint" target="_blank" rel="noopener noreferrer" title="by Nicholas Sherlock">ChickenPaint</a>
<br>
<span>UseFunction - <span title="by WonderCatStudio">DynamicPalette</span></span>
<!--http://wondercatstudio.com/-->
</div>
</div>
</div>
<div id="bottom"></div>
<script src="<?=h($skindir)?>jquery-3.5.1.min.js"></script>
<script>
	window.onpageshow = function(){
		var $btn = $('[type="submit"]');
		//disbledを解除
		$btn.prop("disabled", false);
		$btn.click(function(){//送信ボタン2度押し対策
			$(this).prop('disabled',true);
			$(this).closest('form').submit();
		});
	}
</script>
</body>
</html>
