<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css">
<link rel="preload" as="style" href="<?=h($skindir)?>icomoon/style.css" onload="this.rel='stylesheet'">
<link rel="preload" as="style" href="lib/luminous/luminous-basic.min.css" onload="this.rel='stylesheet'">
<link rel="preload" as="script" href="lib/luminous/luminous.min.js">
<link rel="preload" as="script" href="lib/<?=h(JQUERY)?>">
<?php if(isset($set_nsfw)&&$set_nsfw&&!$nsfwc):?>
	<!-- センシティブコンテンツにブラーをかける -->
<style>img {filter:blur(15px);}</style>
<?php endif;?>
<title><?=h($boardname)?></title> 
</head>
<body>

<div class="container" id="top">

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap">
<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
	<span>[<a href="./?mode=logout&resno=<?=h($no)?>#<?=h($time)?>"><?php if($en):?>Exit edit mode<?php else:?>編集モード終了<?php endif;?></a>]</span>
 <a href="#bottom">▽</a>
	</nav>
	<h2 class="article_title"><?php if($en):?>Editing an article<?php else:?>記事編集中<?php endif;?></h2>


<hr>
<?php if(isset($out)):?>
<?php foreach($out as $ress) : ?>

<h2 class="article_title">[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></h2>
	<!-- スレッドのループ -->
<?php foreach($ress as $res) : ?>
	<hr>
	<div class="imginfo_wrap">
	<span><?= h($res['name'])?></span>
	<?php if($res['verified']):?>
	<span class="icon-checkmark2"></span>
	<?php endif?>
	<?php if($res['url']):?><span>[<a href="<?=h($res['url'])?>" target="_blank" rel="nofollow noopener noreferrer">URL</a>]</span><?php endif;?>
	<?php if($res['userid']):?><span>ID:<?= h($res['userid'])?></span><?php endif;?>
	<span><?=h($res['date'])?></span>		
<?php if($res['img']):?>
	<span>Tool:<?=h($res['tool'])?></span>
	<?php if($res['painttime']):?>
		<span><?php if($en):?>Paint time:<?php else:?>描画時間:<?php endif;?><?=h($res['painttime'])?></span>
	<?php endif;?>

	<?php if((($use_upload || $admin) && $res['upload_image'])):?>
		<form action="./" method="POST" enctype="multipart/form-data" class="postform">
		<input type="hidden" name="MAX_FILE_SIZE" value="<?=h($max_byte)?>">
		<input type="hidden" name="pwd" value="<?=h($pwd)?>">
		<input type="hidden" name="id" value="<?=h($time)?>">
		<input type="hidden" name="no" value="<?=h($no)?>">
		<input type="hidden" name="mode" value="picrep">
		<input type="hidden" name="token" value="<?=h($token)?>">
		<input type="file" name="imgfile" size="35" accept="image/*" class="form_button">
		<input type="submit" Value="<?php if($en):?>Replace<?php else:?>差し換え<?php endif;?>" class="form_button">
		</form>
	<?php endif;?>
<?php endif;?>
	<?php if($admindel):?>
		<br>
		HOST:<?=h($res['host'])?>
		<?php endif;?> 
	</div>
		<?php if($res['img']):?>
			<?php if($res['anime']):?>
				<div class="imginfo_wrap">
				<span>☆<a href="?mode=pchview&imagefile=<?=h($res['img'])?>&no=<?=h($res['no'])?>" target="_blank"><?php if($en):?>Animation<?php else:?>動画<?php endif;?></a></span>
				</div>
			<?php endif;?>

			<div class="posted_image" <?php if($res['_w']>747):?>style="float:none;margin-right:0"<?php endif;?>>
				<a href="src/<?=h($res['img'])?>" target="_blank" class="luminous">
				<?php if($res['thumbnail']):?>
					<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['_w'])?>" height="<?=h($res['_h'])?>">
					<?php else:?>
					<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['_w'])?>" height="<?=h($res['_h'])?>">
				<?php endif;?>
				</a>
			</div>
			<?php endif;?>
			<div class="comment"><?= com(h($res['com']))?></div>
			<?php endforeach;?>
			<?php endforeach;?>
			<?php endif;?>

			<div class="clear"></div>

	<form action="./" method="POST" enctype="multipart/form-data" class="resform">
	<table class="resform">
	<tr>
		<td><?php if($en):?>Name<?php else:?>名前<?php endif;?></td>
		<td>:</td>
		<td><input type="text" name="name" value="<?=h($name)?>" autocomplete="username" class="input_txt"></td>
	</tr>
	<?php if($oya==='oya'):?>
		<!-- レスの時は題名を出さない -->
		<tr>
			<td><?php if($en):?>Subject<?php else:?>題名<?php endif;?></td>
			<td>:</td>
			<td><input type="text" name="sub" value="<?=h($sub)?>" class="input_txt"></td>
		</tr>
	<?php endif;?>
	<tr>
		<td>URL</td>
		<td>:</td>
		<td><input type="text" name="url" value="<?=h($url)?>" autocomplete="off" class="input_txt"></td>
	</tr>
	</table>
<textarea name="com" class="post_com"><?=h($com)?></textarea><br>
<input type="hidden" name="pwd" value="<?=h($pwd)?>">
<input type="hidden" name="id" value="<?=h($time)?>">
<input type="hidden" name="no" value="<?=h($no)?>">
<input type="hidden" name="mode" value="edit">
<input type="hidden" name="token" value="<?=h($token)?>">
<?php if($pch_exists):?>
<input type="checkbox" name="hide_animation" id="hide_animation" value="on" <?php if($hide_animation_checkd):?>checked="checked"<?php endif;?>><label for="hide_animation"><?php if($en):?>Hide Animation<?php else:?>動画を表示しない<?php endif;?></label>	
<?php endif;?>
<?php if($imgfile && $mark_sensitive_image):?>
<input type="checkbox" name="hide_thumbnail" id="hide_thumbnail" value="on" <?php if($hide_thumb_checkd):?>checked="checked"<?php endif;?>><label for="hide_thumbnail"><?php if($en):?>Sensitive content<?php else:?>閲覧注意にする<?php endif;?></label>
<?php endif;?>
<input type="submit" value="<?php if($en):?>Edit<?php else:?>編集<?php endif;?>" class="form_button">
</form>

<hr>
	<div class="copy">
		<div class="left_wrap">
		[<a href="<?=h($home)?>">HOME</a> / <a href="./?mode=adminin&page=<?=h($page)?>"><?php if($en):?>Admin<?php else:?>管理<?php endif;?></a>]
	</div>
<div class="righit_wrap">
<?php include(__DIR__.'/parts/copyright.html');?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<script src="lib/<?=h(JQUERY)?>"></script>
<script src="lib/luminous/luminous.min.js"></script>
<script>
	jQuery(function() {
	window.onpageshow = function(){
		var $btn = $('[type="submit"]');
		//disbledを解除
		$btn.prop("disabled", false);
		$btn.click(function(){//送信ボタン2度押し対策
			$(this).prop('disabled',true);
			$(this).closest('form').submit();
		});
		}
		// https://cotodama.co/pagetop/
		var pagetop = $('#page_top');   
		pagetop.hide();
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {  //100pxスクロールしたら表示
				pagetop.fadeIn();
			} else {
				pagetop.fadeOut();
			}
		});
		pagetop.click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 500); //0.5秒かけてトップへ移動
			return false;
		});
		// https://www.webdesignleaves.com/pr/plugins/luminous-lightbox.html
		const luminousElems = document.querySelectorAll('.luminous');
		//取得した要素の数が 0 より大きければ
		if( luminousElems.length > 0 ) {
			luminousElems.forEach( (elem) => {
			new Luminous(elem);
			});
		}
	});

</script>
</body>
</html>
