<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css">
<title><?=h($boardname)?></title>
</head>
<body>

<div class="container" id="top">

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<nav class="menu_wrap">
<span>[<a href="./">掲示板にもどる</a>]</span>
<?php if($userdel || $admindel):?>
	<?php
	$page= ($page !==false) ? '&page='.$page : ($resno!==false ? '&resno='.$resno :'');
	?>
	<span>[<a href="./?mode=logout<?=h($page)?>">編集モード終了</a>]</span>
<?php else:?>
	<span>[<a href="./?mode=userdel&page=<?=h($page)?>">編集</a>]</span>
<?php endif;?>
 <a href="#bottom">▽</a>
	</nav>
	<h2 class="article_title">記事編集中</h2>


<hr>
<?php if(isset($out)):?>
<?php foreach($out as $ress) : ?>

<h2 class="article_title">[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></h2>
	<!-- スレッドのループ -->
<?php foreach($ress as $i => $res) : ?>
	<hr>
	<?php if($i!==0):?>
	<div class="res_wrap">	
	<?php endif;?>

	<div class="imginfo_wrap">
	<span><?= h($res['name'])?></span>
	<?php if($res['verified']):?>
	<span class="icon-checkmark2"></span>
	<?php endif?>
	<?php if($res['url']):?><span>[<a href="<?=h($res['url'])?>" target="_blank" rel="nofollow noopener noreferrer">URL</a>]</span><?php endif;?>
	<?php if($res['userid']):?><span>ID:<?= h($res['userid'])?></span><?php endif;?>
	<span><?=h($res['date'])?></span>		
<?php if($res['img']):?>
	<span>TOOL:<?=h($res['tool'])?></span>
	<?php if($res['painttime']):?>
		<span>描画時間:<?=h($res['painttime'])?></span>
		
		<?php endif;?>
<?php endif;?>
	<?php if($admindel):?>
		<br>
		HOST:<?=h($res['host'])?>
		<?php endif;?> 
	</div>
		<?php if($res['img']):?>

			<div class="posted_image">
				<?php if($res['thumbnail']):?>
					<a href="src/<?=h($res['img'])?>" target="_bank">
						<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" loading="lazy">
					</a>
					<?php else:?>
					<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" loading="lazy">
				<?php endif;?>
			</div>
			<?php endif;?>
			<div class="comment"><?= com(h($res['com']))?></div>
			<?php endforeach;?>
			<?php endforeach;?>
			<?php endif;?>

			<div class="clear"></div>

	<form action="./" method="POST" enctype="multipart/form-data" class="resform">
	<table class="resform">
	<tr>
		<td>名前</td>
		<td>:</td>
		<td><input type="text" name="name" value="<?=h($name)?>" autocomplete="username" class="input_txt"></td>
	</tr>
	<?php if($oya==='oya'):?>
		<!-- レスの時は題名を出さない -->
		<tr>
			<td>題名</td>
			<td>:</td>
			<td><input type="text" name="sub" value="<?=h($sub)?>" class="input_txt"></td>
		</tr>
	<?php endif;?>
	<tr>
		<td>URL</td>
		<td>:</td>
		<td><input type="text" name="url" value="<?=h($url)?>" autocomplete="off" class="input_txt"></td>
	</tr>
	</table>
<textarea name="com" class="post_com"><?=h($com)?></textarea><br>
<input type="hidden" name="pwd" value="<?=h($pwd)?>">
<input type="hidden" name="id" value="<?=h($time)?>">
<input type="hidden" name="no" value="<?=h($no)?>">
<input type="hidden" name="mode" value="edit">
<input type="hidden" name="token" value="<?=h($token)?>">
<input type="submit" value="編集" class="form_button">
</form>

<hr>
	<div class="copy">
		<div class="left_wrap">
		[<a href="<?=h($home)?>">HOME</a> / <a href="./?mode=adminin&page=<?=h($page)?>">管理</a>]
	</div>
<div class="righit_wrap">
<a href="https://paintbbs.sakura.ne.jp/petit/" target="_blank" rel="noopener noreferrer" title="Petit Note <?=h($petit_ver)?> <?=h($petit_lot)?>">Petit Note <?=h($petit_ver)?></a> <span>Web Style by BASIC</span><br>
<span>OekakiApp -</span> <a href="http://github.com/funige/neo/" target="_blank" rel="noopener noreferrer" title="by funige">PaintBBS NEO</a> , <a href="https://github.com/thenickdude/chickenpaint" target="_blank" rel="noopener noreferrer" title="by Nicholas Sherlock">ChickenPaint</a></span>
<br>
<span>UseFunction - <span title="by WonderCatStudio">DynamicPalette</span></span>
<!--http://wondercatstudio.com/-->
</div>
</div>
</div>
<div id="bottom"></div>
<script src="<?=h($skindir)?>jquery-3.5.1.min.js"></script>
<script>
	window.onpageshow = function(){
		var $btn = $('[type="submit"]');
		//disbledを解除
		$btn.prop("disabled", false);
		$btn.click(function(){//送信ボタン2度押し対策
			$(this).prop('disabled',true);
			$(this).closest('form').submit();
		});
	}
</script>
</body>
</html>
