<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
<link rel="preload" as="style" href="<?=h($skindir)?>icomoon/style.css?<?=h($petit_lot)?>" onload="this.rel='stylesheet'">
<link rel="preload" as="style" href="lib/luminous/luminous-basic.min.css" onload="this.rel='stylesheet'">
<link rel="preload" as="script" href="lib/luminous/luminous.min.js">
<link rel="preload" as="script" href="lib/<?=h(JQUERY)?>">
<link rel="preload" as="script" href="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>">

<?php include __DIR__.'/parts/nsfw_css_control.html';?>
<title><?=h($boardname)?></title> 
</head>
<body>

<div class="container" id="top">

<?php if($set_nsfw && !$nsfwc):?>
	<div class="view_nsfw">
	<span><?php if($en):?>View NSFW images?<?php else:?>年齢制限付きのコンテンツを表示してもよろしいでしょうか?<?php endif;?></span>
	<form action="./" method="post">
	<input type="hidden" name="mode" value="view_nsfw">
	<input type="hidden" name="view_nsfw" value="on">
	<input type="hidden" name="postpage" value="<?=h($page)?>">
	<input type="submit" value="<?php if($en):?>Yes<?php else:?>はい表示します。<?php endif;?>">
	</form>
	</div>
<?php endif;?>

<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
<!-- ナビゲーション -->
<nav class="menu_wrap">
	<?php if($display_link_back_to_home):?>
		<span>[<a href="<?=h($home)?>"><?php if($en):?>Home<?php else:?>ホーム<?php endif;?></a>]</span>
	<?php endif;?>
		<span>[<a href="./?mode=catalog"><?php if($en):?>Catalog<?php else:?>カタログ<?php endif;?></a>]</span>
	<?php if($display_search_nav):?>
		<span> [<a href="./?mode=search&radio=3"><?php if($en):?>Search<?php else:?>検索<?php endif;?></a>]</span>
	<?php endif;?>
<?php if($aikotoba):?>
	<?php if($use_paint):?>
		<span> [<a href="./?mode=paintcom"><?php if($en):?>Recover Images<?php else:?>未投稿画像<?php endif;?></a>]</span>
	<?php endif;?>
	<?php if($userdel || $admindel):?>
		<span>[<a href="./?mode=logout&page=<?=h($page)?>"><?php if($en):?>Exit edit mode<?php else:?>編集モード終了<?php endif;?></a>]</span>
	<?php else:?>
		<span>[<a href="./?mode=userdel&page=<?=h($page)?>"><?php if($en):?>Edit<?php else:?>編集<?php endif;?></a>]</span>
	<?php endif;?>
<?php endif;?>
	<a href="#bottom">▽</a>
</nav>

<?php if($mark_sensitive_image && ($userdel||$admindel)):?>
	<!-- 閲覧注意画像を隠す/隠さない -->
	<?php include __DIR__.'/parts/form_set_nsfw_show_hide.html';?>
<?php endif;?>
<?php if($aikotoba && !$userdel && !$admindel && !$is_badhost):?>
<!-- 掲示板の説明文 -->
<?php if(!empty($descriptions)):?>
<div class="description">
<ul>
<?php foreach($descriptions as $description):?>
	<li><?=h($description)?></li>
	<?php endforeach;?>
</ul>
</div>
<?php endif;?>
<?php if((!$use_diary || $adminpost) && !$deny_all_posts):?>
<div class="mainform">

<?php if($use_paint):?>
<!-- ペイントフォーム -->
<form action="./" method="post" enctype="multipart/form-data" class="paint_form" id="paint_forme" onsubmit="return res_form_submit(event,'paint_forme')">
	<div id="error_message_paintform"></div>

	<?php if($adminpost):?>
	<span>
	<input type="file" name="pchup" size="35" accept="image/*,.pch,.chi,.psd" class="pchup_button">
	</span>
	<br>
	<?php endif;?>
<input type="hidden" name="mode" value="paint">
<input type="submit" value="Paint" class="paint_button">

<?php if($select_app):?>
<span>Tool:
<select name="app" class="select_applet">
<!-- ペイントアプリ選択のプルダウンメニューをインクルード -->
<?php include __DIR__.'/parts/select_apps.html'?>
</select>
</span>
<?php else:?>
<input type="hidden" name="app" value="<?=h($app_to_use)?>">
<?php endif;?>

<span class="canvas_size_wrap"> 
Size:
<select name="picw" title="幅" class="canvas_select">
	<?php
	//幅 300から、$pmax_w で設定した最大値まで。
		for($i = 300; $i <=$pmax_w ; $i+=50){//50ずつ増える
		if($picwc==$i){//デフォルトサイズ
		echo'<option value="'.h($i).'" selected>'.h($i).'</option>';
		}
		else{
		echo'<option value="'.h($i).'">'.h($i).'</option>';
		}
		}
	?>
	</select>
	x
	<select name="pich" title="高さ" class="canvas_select">
	<?php
	//高さ 300から、PMAX_H で設定した最大値まで。
		for($i = 300; $i <=$pmax_h ; $i+=50){//50ずつ増える
		if($pichc==$i){//デフォルトサイズ
		echo'<option value="'.h($i).'" selected>'.h($i).'</option>';
		}
		else{
		echo'<option value="'.h($i).'">'.h($i).'</option>';
		}
		}
	?>
	</select>
</span>
</form>
<?php endif;?>
<!-- フォーム入力欄 -->
	<?php if(($use_top_form && ($use_upload||$allow_comments_only))||$adminpost):?>
	<form action="./" method="POST" enctype="multipart/form-data" class="postform" id="res_form" onsubmit="return res_form_submit(event)">
	<div id="error_message"></div>
	<table>
	<tr>
		<td><?php if($en):?>Name<?php else:?>名前<?php endif;?></td>
		<td>:</td>
		<td><input type="text" name="name" value="<?=h($namec)?>" autocomplete="username" class="input_txt"></td>

	</tr>
	<tr>
		<td><?php if($en):?>Subject<?php else:?>題名<?php endif;?></td>
		<td>:</td>
		<td><input type="text" name="sub" class="input_txt"></td>
	</tr>
	<tr>
		<td>URL</td>
		<td>:</td>
		<td><input type="text" name="url" value="<?=h($urlc)?>" autocomplete="off" class="input_txt"></td>
	</tr>
	</table>
<textarea name="com" class="post_com"></textarea><br>
<?php if($en):?>Password:<?php else:?>パスワード:<?php endif;?><input type="password" name="pwd" value="<?=h($pwdc)?>" autocomplete="current-password">
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="token" value="<?=h($token)?>">
<br>
<?php if($use_upload || $adminpost):?>
<input type="hidden" name="MAX_FILE_SIZE" value="<?=h($max_byte)?>">
<input type="file" name="imgfile" size="35" accept="image/*" class="form_button">
<br>
<?php endif;?>
<input type="submit" value="<?php if($en):?>Start a new thread<?php else:?>スレッドを立てる<?php endif;?>" class="form_button">
	<span>
	<?php if($mark_sensitive_image):?>
	<input type="checkbox" name="hide_thumbnail" id="hide_thumbnail" value="on"><label for="hide_thumbnail"><?php if($en):?>Sensitive content<?php else:?>閲覧注意にする<?php endif;?></label>
	<?php endif;?>
	</span>
</form>
<?php endif;?>
</div>
<?php endif;?>
<?php endif;?>

<?php if(!$aikotoba):?>
<div>
<?php if($en):?>What's the secret word?:<?php else:?>この掲示板の合言葉はなんですか?:<?php endif;?> 
<form action="./" method="post" class="aikotoba">
	<input type="text" name="aikotoba" class="input_txt">
	<input type="hidden" name="mode" value="aikotoba">
	<input type="hidden" name="postpage" value="<?=h($page)?>">
	<input type="submit" value="<?php if($en):?>Answer<?php else:?>秘密の答え<?php endif;?>">
</form>
</div>
<?php endif;?>
<hr>
<!-- スレッド -->
	<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as $t => $ress) : ?>

	<?php if($sort_comments_by_newest){
		krsort($ress);
	}?>
	<!-- タイトル -->
	<h2 class="article_title"><a href="./?resno=<?= h($ress[0]['no'])?>">[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></a></h2>
	<?php
	$findimage=false;
	$countres=count($ress);
	$skipres=$countres-($dispres+1);
	if($userdel || $admindel){
		$skipres=0;	//削除モードの時はレスを省略しない
	}
	?>
	<!-- 個別スレッドのループ -->
	<?php foreach($ress as $i => $res) : ?>
		<?php if($res['img']){
			$findimage=true;
		}?>
		<!-- 縮小のかかったNSFW画像を元のサイズへ -->
		<?php if($set_nsfw_show_hide):?><?php $res['w']=$res['_w'];$res['h']=$res['_h'];?><?php endif;?>
		<?php if($skipres && $i===$skipres):?>
		<hr>
		<?php if($en):?><?=h($skipres)?> posts omitted.<?php else:?>レス<?=h($skipres)?>件省略中。<?php endif;?>
		<?php endif;?>	
		<?php if($i===0 || $i>$skipres):?>
		<hr>
		<?php if($i!==0):?>
		<div class="res_wrap">
		<?php endif;?>
			<div class="imginfo_wrap">
			<?php if(!isset($res['not_deleted'])||$res['not_deleted']):?>
				<span class="info_name"><a href="./?mode=search&radio=2&imgsearch=on&q=<?=h($res['encoded_name'])?>" target="_blank"><?= h($res['name'])?></a></span>
				<?php if($res['verified']):?>
				<span class="icon-checkmark2"></span>
				<?php endif?>
				<?php if($res['url']):?><span>[<a href="<?=h($res['url'])?>" target="_blank" rel="nofollow noopener noreferrer">URL</a>]</span><?php endif;?>
					<?php if($res['userid']):?><span>ID:<?= h($res['userid'])?></span><?php endif;?>
					<span><?=h($res['date'])?></span>		
				<?php if($res['img']):?>
					<?php if($res['tool']):?><span>Tool:<?=h($res['tool'])?></span><?php endif;?>
					<?php if($res['painttime']):?>
					<span>
					<?php if($en):?>Paint time:<?=h($res['painttime_en'])?><?php else:?>描画時間:<?=h($res['painttime'])?><?php endif;?>
					</span>
					<?php endif;?>
					<span>
					<?php if($res['hide_thumbnail']):?>
						<?php if($en):?>- Hiding thumbnail -<?php else:?>- サムネ非表示 -<?php endif;?>
					<?php elseif($res['thumbnail']):?>
						<?php if($en):?>- Showing thumbnail -<?php else:?>- サムネイル表示中 -<?php endif;?>
					<?php endif;?>
					</span>
							
				<?php endif;?>
				<?php if($admindel):?>
				<br>
				HOST:<?=h($res['host'])?>
				<?php endif;?> 
			<?php endif;?>
			</div>
			<?php if($res['img']):?>
				<?php if($res['continue']||$res['anime']):?>
				<div class="imginfo_wrap">
					<?php if($res['continue'] && $aikotoba && $use_paint):?>
						<span>☆<a href="?mode=to_continue&id=<?=h($res['time'])?>&no=<?=h($res['no'])?>"><?php if($en):?>Continue<?php else:?>続きを描く<?php endif;?></a></span>
					<?php endif;?>
					<?php if($res['anime']):?>
						<span>☆<a href="?mode=pchview&imagefile=<?=h($res['img'])?>&no=<?=h($res['no'])?>" target="_blank"><?php if($en):?>Animation<?php else:?>動画<?php endif;?></a></span>
					<?php endif;?>
				</div>
				<?php endif;?>
				<div class="posted_image <?php if($res['hide_thumbnail']):?>hide_thumbnail<?php endif;?>" style="<?php if($res['w']>747):?>float:none;margin-right:0;<?php endif;?>max-width:<?=h($res['w'])?>px;max-height:<?=h($res['h'])?>px;">
					<a href="src/<?=h($res['img'])?>" target="_blank" class="luminous">
					<?php if($res['thumbnail']):?>
						<img src="thumbnail/<?=h($res['thumbnail'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" <?php if($t>4):?>loading="lazy"<?php endif;?>>
					<?php else:?>
						<img src="src/<?=h($res['img'])?>" alt="<?=h($res['sub'])?> by <?=h($res['name'])?>" title="<?=h($res['sub'])?> by <?=h($res['name'])?>" width="<?=h($res['w'])?>" height="<?=h($res['h'])?>" <?php if($t>4):?>loading="lazy"<?php endif;?>>
					<?php endif;?>
					<?php if($res['hide_thumbnail']):?>
						<p>NSFW</p>
					<?php endif;?>
						</a>
				</div>
			<?php endif;?>
			<?php if(isset($res['not_deleted']) && !$res['not_deleted']):?>
			<?php if($admindel):?>
				<div class="imginfo_wrap">
				HOST:<?=h($res['host'])?>
				</div>
			<?php endif;?> 
			<?php endif;?>
			<div class="comment"><?= com(h($res['com']))?>
			<?php if(isset($res['not_deleted'])&&!$res['not_deleted']):?>
			<?php if($en):?>This post does not exist.<?php else:?>この記事はありません。<?php endif;?>
			<?php endif;?>
			<?php $res_max_over=(!$adminpost && ($i>=$max_res||!$ress[0]['check_elapsed_days']));?>
			<?php if($aikotoba && !$deny_all_posts && (((!isset($res['not_deleted'])||$res['not_deleted']) && $userdel) || $admindel)):?>
				<div class="edit_button">
					<!-- 編集削除のためのボタン -->
					<?php if($res['check_elapsed_days']&&!$is_badhost||$admindel):?>
						<form action="./" method="POST" class="aikotoba">
						<input type="hidden" name="mode" value="before_del">
						<input type="hidden" name="edit_mode" value="editmode">
						<input type="hidden" name="resmode" value="false">
						<input type="hidden" name="id" value="<?=h($res['time'])?>">
						<input type="hidden" name="no" value="<?=h($res['no'])?>">
						<input type="hidden" name="postpage" value="<?=h($page)?>">
						<input type="submit" value="<?php if($en):?>Edit<?php else:?>編集<?php endif;?>">
						</form>
					<?php endif;?>
					<form action="./" method="POST" class="aikotoba">
						<input type="hidden" name="mode" value="before_del">
						<input type="hidden" name="edit_mode" value="delmode">
						<input type="hidden" name="resmode" value="false">
						<input type="hidden" name="id" value="<?=h($res['time'])?>">
						<input type="hidden" name="no" value="<?=h($res['no'])?>">
						<input type="hidden" name="postpage" value="<?=h($page)?>">
						<input type="submit" value="<?php if($en):?>Delete<?php else:?>削除<?php endif;?>">
					</form>

					<?php if($use_misskey_note && $res['img'] && ($res['check_elapsed_days'] && !$is_badhost||($admindel||$adminpost))):?>
					
						<form action="./" method="POST" class="aikotoba">
						<input type="hidden" name="mode" value="before_misskey_note">
						<input type="hidden" name="edit_mode" value="editmode">
						<input type="hidden" name="resmode" value="true">
						<input type="hidden" name="id" value="<?=h($res['time'])?>">
						<input type="hidden" name="no" value="<?=h($res['no'])?>">
						<input type="hidden" name="postpage" value="<?=h($page)?>">

						<span class="icon-Simpleicons-Team-Simple-Misskey"></span> <input type="submit" value="<?php if($en):?>Note to Misskey<?php else:?>Misskeyにノート<?php endif;?>">
						</form>
					<?php endif;?>
				</div>
			<?php endif;?>
			</div>
		<?php if($i!==0):?>
		</div><!-- 子レスのwrap	 -->
		<?php endif;?>
		<?php endif;?>
	<?php endforeach;?>
	<!-- 返信ボタン -->
	<div class="clear"></div>
	<div class="res_button_wrap">
	<?php if($aikotoba && (!$userdel && !$admindel)):?>
	<?php if($use_misskey_note && $findimage && ($resform && $ress[0]['check_elapsed_days'] || $adminpost)):?>
		<span class="share_button">
			<a href="?resno=<?=h($res['no'])?>&misskey_note=on" target="_blank" rel="noopener">
			<span class="icon-Simpleicons-Team-Simple-Misskey"></span> <?php if($en):?>Note<?php else:?>ノート<?php endif;?></a>
		</span>
	<?php endif;?>
	<?php if($use_sns_button):?>
	<span class="share_button">
	<?php if($switch_sns):?>
		<a href="?mode=set_share_server&encoded_t=<?=h($ress[0]['encoded_t'])?>&amp;encoded_u=<?=h($ress[0]['encoded_u'])?>" onclick="open_sns_server_window(event,<?=h($sns_window_width)?>,<?=h($sns_window_height)?>)"><span class="icon-share-from-square-solid"></span>
		<?php if($en):?>Share on SNS<?php else:?>SNSで共有する<?php endif;?></a>
	<?php else:?>
	<a target="_blank" href="https://twitter.com/intent/tweet?text=<?=h($ress[0]['encoded_t'])?>&amp;url=<?=h($ress[0]['encoded_u'])?>"><span class="icon-twitter"></span>Tweet</a>
	<?php endif;?>
	</span>
	<?php endif; ?>
	<?php endif; ?>
	<form action="./?resno=<?=h($res['no'])?>" method="POST" class="res_button">
	<?php if($resform && !$res_max_over && !$userdel && !$admindel):?>
			<input type="submit" value="<?php if($en):?>Post to this thread<?php else:?>このスレッドに投稿<?php endif;?>"></form>
		<?php else:?>
			<input type="submit" value="<?php if($en):?>View this thread<?php else:?>このスレッドを表示<?php endif;?>"></form>
		<?php endif;?>
	</div>

	<hr>
<?php endforeach;?>
<?php endif;?>
<nav>
	<?php include __DIR__.'/parts/prev_next.html';?>
	<?php include __DIR__.'/parts/paging.html';?>
</nav>
	<div class="copy">
		<div class="left_wrap">
		[<a href="<?=h($home)?>">HOME</a> / <a href="./?mode=adminin&page=<?=h($page)?>"><?php if($en):?>Admin<?php else:?>管理<?php endif;?></a>]
	</div>
<div class="righit_wrap">
<?php include __DIR__.'/parts/copyright.html';?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<script src="lib/<?=h(JQUERY)?>"></script>
<script src="lib/luminous/luminous.min.js"></script>
<script src="<?=h($skindir)?>js/common.js?<?=h($petit_lot)?>"></script>
</body>
</html>
