<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">

	<title><?=h($boardname)?></title> 
	<style>
.success {
	font-size: 24px;
	margin: 16px 0 0 0;
}
</style>
</head>
<body>
	<div class="container">
	<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
	<nav class="menu_wrap" >
	<span>[<a href="./?resno=<?=h($no)?>"><?php if($en):?>Return to thread<?php else:?>スレッドに戻る<?php endif;?></a>]</span>
		<a href="#bottom">▽</a>
	</nav>
<hr>
<h2>
<?php if($en):?>Your post was successful.<?php else:?>投稿に成功しました。<?php endif;?>
</h2>
<div class="success">
<?php
$baseUrl = isset($_SESSION['misskey_server_radio']) ? $_SESSION['misskey_server_radio'] : "";
$baseUrl = filter_var($baseUrl,FILTER_VALIDATE_URL) ? $baseUrl:'';
$host = parse_url($baseUrl,PHP_URL_HOST);
?>
<?php if($baseUrl):?>
	<a href="<?=h($baseUrl)?>" target="_blank" rel="noopener"><?=h($host)?></a>
<?php endif;?>
</div>
</div>
</body>
</html>
