<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<?=h($skindir)?>index.css">
	<title><?=h($boardname)?></title>
</head>
<body>
	<div class="container">
		<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
		<nav class="memu_wrap" >
			<span>[<a href="./">掲示板にもどる</a>]</span>
			<a href="#bottom">▽</a>
			</nav>
							   <hr>
			
		<div>
			<div class="error">
				<?php if(!$tmp):?>
				画像が見当たりません。<br>
				<a href="#" onClick="javascript:window.history.back(-1);return false;">もどる</a>
			</div>
			<?php endif;?>
<?php if($tmp):?>
			<?php foreach($out as $i=>$val):?>
			<?php foreach($val as $tempimg):?>
<div class="posted_img_form">
	<img src="<?=h($tempimg['src'])?>"
	alt="<?=h($tempimg['srcname'])?>"></div>
<?=h($tempimg['srcname'])?><br>
<?=h($tempimg['date'])?>

				<?php endforeach;?>
				<?php endforeach;?>
	</div>
<?php if($aikotoba):?>
<form action="./" method="POST" enctype="multipart/form-data" class="postform">
	<table>
		<tr>
			<td>名前</td>
			<td>:</td>
			<td><input type="text" name="name" value="<?=h($namec)?>" autocomplete="username"></td>
	
		</tr>
		<tr>
			<td>題名</td>
			<td>:</td>
			<td><input type="text" name="sub"></td>
		</tr>
		<tr>
			<td>URL</td>
			<td>:</td>
			<td><input type="text" name="utl" value="<?=h($urlc)?>"></td>
		</tr>
		</table>
	
<textarea name="com" class="post_com"></textarea><br>
<input type="password" name="pwd">
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="token" value="<?=h($token)?>">
<input type="hidden" name="pictmp" value="<?=h($pictmp)?>">
<div class="post_table_title">画像<select name="picfile" class="post_select_image">
			<?php foreach($out as $i=>$val):?>
			<?php foreach($val as $tempimg):?>
				<option value="<?=h($tempimg['srcname'])?>"><?=h($tempimg['srcname'])?></option>
				<?php endforeach;?>
				<?php endforeach;?>
			</select>
			<br>
		</div>
	<input type="submit" value="投稿する">
</form>
<?php else:?>
この掲示板の合言葉はなんですか?: 
<form action="./" method="post" class="aikotoba">
	<input type="txt" name="aikotoba">
	<input type="hidden" name="mode" value="aikotoba">
	<input type="hidden" name="paintcom" value="true">
	<input type="submit" value="秘密の答え">
	</form>
<?php endif;?>

			<?php endif; ?>

<br>
<?php if($tmp):?>
[<a href="./">掲示板に戻る</a>]
<?php endif;?>
</div>
<div id="bottom"></div>
<script src="/jquery-3.5.1.min.js"></script>
<script>
//送信ボタンを押した際に送信ボタンを無効化する（連打による多数送信回避）
$(function(){
$('[type="submit"]').click(function(){
$(this).prop('disabled',true);//ボタンを無効化する
$(this).closest('form').submit();//フォームを送信する
});
});
</script>
</body>
</html>