<!DOCTYPE html>
<!-- mocked drawing page -->
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><?=h($boardname)?></title> 

	<!-- this is important -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

	<style>
		:not(input){
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		}
	</style>
</head>
<body>

<!-- embed start -->
<script src="app/klecks/embed.js?<?=h($parameter_day)?><?=h($petit_lot)?>"></script>
<script>

	/*
	Using Klecks in a drawing community:
	- on first time opening, start with a manually created project (klecks.openProject)
	- on submit, upload psd (and png) to the server
	- on continuing a drawing, read psd that was stored on server (klecks.readPsd -> klecks.openProject)
		*/

	const psdURL = '<?php if($img_klecks):?><?=h($img_klecks)?><?php endif;?>';

	let saveData = (function () {
		let a = document.createElement("a");
		document.body.appendChild(a);
		a.style = "display: none";
		return function (blob, fileName) {
			let url = window.URL.createObjectURL(blob);
			console.log(url);
			a.href = url;
			a.download = fileName;
			a.click();
			window.URL.revokeObjectURL(url);
		};
		
	}());

	const klecks = new Klecks({

		disableAutoFit: true,

		onSubmit: (onSuccess, onError) => {
			// download png
			// saveData(klecks.getPNG(), 'drawing.png');

			/*// download psd
			klecks.getPSD().then((blob) => {
				saveData(blob, 'drawing.psd');
			});*/

			setTimeout(() => {
			onSuccess();
			//Petit Note 2021-2023 (c)satopian MIT Licence
			//この箇所はさとぴあが作成したMIT Licenceのコードです。
			const postData = (path, data) => {
					fetch(path, {
						method: 'post',
						mode: 'same-origin',
						headers: {
							'X-Requested-With': 'klecks'
							,
						},
						body: data,
					})
					.then((response) => {
						if (response.ok) {
							response.text().then((text) => {
							console.log(text)
								if(text==='ok'){
									return window.location.href="./?mode=<?=h($paintmode)?><?php if($rep):?>&no=<?=h($no)?>&id=<?=h($id)?>&pwd=<?=h($pwd)?>&repcode=<?=h($repcode)?><?php endif;?>";
								}
								return alert(text);
							})
						}else{
							let response_status = response.status; 

							if(response_status===403){
								return alert(<?php if($en):?>'It may be a WAF false positive.\nTry to draw a little more.'<?php else:?>'投稿に失敗。\nWAFの誤検知かもしれません。\nもう少し描いてみてください。'<?php endif;?>);
							}
							if(response_status===404){
								return alert(<?php if($en):?>'404 not found\nThe PHP file to save the image does not exist.'<?php else:?>'エラー404\n画像を保存するPHPファイルがありません。'<?php endif;?>);	
							}
							return alert(<?php if($en):?>'Your picture upload failed!\nPlease try again!'<?php else:?>'投稿に失敗。\n時間を置いて再度投稿してみてください。'<?php endif;?>);
						}
					})
					.catch((error) => {
						return alert(<?php if($en):?>'Server or line is unstable.\nPlease try again!'<?php else:?>'サーバまたは回線が不安定です。\n時間を置いて再度投稿してみてください。'<?php endif;?>);	
					})
				}
				klecks.getPSD().then((psd)=>{
					var formData = new FormData();
					formData.append("picture", klecks.getPNG(),'blob');
					formData.append("psd", psd,'blob');
					formData.append("usercode", "<?=h($usercode)?>");
					<?php if($rep):?>formData.append("repcode", "<?=h($repcode)?>");<?php endif;?>
					formData.append("tool", "klecks");
					formData.append("stime", <?=time();?>);
					formData.append("resto", "<?=h($resto)?>");
					postData("./?mode=saveimage&tool=klecks", formData);
				});
				// (c)satopian MIT Licence ここまで
				// location.reload();
			}, 500);
		}
	});
	if (psdURL) {
		fetch(new Request(psdURL)).then(response => {
			return response.arrayBuffer();
		}).then(buffer => {
			return klecks.readPSD(buffer); // resolves to Klecks project
		}).then(project => {
			klecks.openProject(project);
		}).catch(e => {
			klecks.initError(<?php if($en):?>'failed to read image'<?php else:?>'画像の読み込みに失敗しました。'<?php endif;?>);
		});

	} else {

		klecks.openProject({
		width: <?=h($picw)?>,
		height: <?=h($pich)?>,
		layers: [{
			name: <?php if($en):?>'Background'<?php else:?>'背景'<?php endif;?>,
				opacity: 1,
				mixModeStr: 'source-over',
				image: (() => {
					const canvas = document.createElement('canvas');
					canvas.width = <?=h($picw)?>;
					canvas.height = <?=h($pich)?>;
					const ctx = canvas.getContext('2d');
					<?php if($imgfile):?>
					var img = new Image();
					img.src = "<?=h($imgfile)?>";
					img.onload = function(){
					ctx.drawImage(img, 0, 0);
					}
					<?php endif;?>
					ctx.save();
					ctx.fillStyle = '#fff';
					ctx.fillRect(0, 0, canvas.width, canvas.height);
					ctx.restore();
					return canvas;
				})()
			},{
				name: '<?=h(getTranslatedLayerName())?> 1',
				opacity: 1,
				mixModeStr: 'source-over',
				image: (() => {
					const canvas = document.createElement('canvas');
					canvas.width = <?=h($picw)?>;
					canvas.height = <?=h($pich)?>;
					return canvas;
				})()
			}
		]});
	}
</script>
<!-- embed end -->
</body>
</html>
