<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex,follow">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title><?=h($boardname)?></title> 
<style>body{overscroll-behavior-x: none !important; }</style>
<style>
:not(input),div#chickenpaint-parent :not(input){
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
</style>
<script>
	document.addEventListener('DOMContentLoaded',()=>{
		document.addEventListener('dblclick', (e)=>{ e.preventDefault()}, { passive: false });
		const chicken=document.querySelector('#chickenpaint-parent');
		chicken.addEventListener('contextmenu', (e)=>{
			e.preventDefault();
			e.stopPropagation();
		}, { passive: false });
	});
</script>
<script src="./app/chickenpaint/js/chickenpaint.min.js?<?=h($parameter_day)?><?=h($petit_lot)?>"></script>
<link rel="stylesheet" type="text/css" href="./app/chickenpaint/css/chickenpaint.css?<?=h($parameter_day)?><?=h($petit_lot)?>">
</head>
<body>
<div id="chickenpaint-parent"></div>
<script>
document.addEventListener("DOMContentLoaded", ()=>{
	new ChickenPaint({
	uiElem: document.getElementById("chickenpaint-parent"),
	canvasWidth: <?=h($picw)?>,
	canvasHeight: <?=h($pich)?>,
	<?php if($imgfile):?>loadImageUrl: "<?=h($imgfile)?>",<?php endif;?>
	<?php if($img_chi):?>loadChibiFileUrl: "<?=h($img_chi)?>",<?php endif;?>

	saveUrl: "./?mode=saveimage&stime=<?=time();?>&tool=chi<?php if($resto):?>&resto=<?=h($resto)?><?php endif;?><?php if($rep):?>&repcode=<?=h($repcode)?><?php endif;?>",
	postUrl: "./?mode=<?=h($paintmode)?><?php if($rep):?>&no=<?=h($no)?>&id=<?=h($id)?>&pwd=<?=h($pwd)?>&repcode=<?=h($repcode)?><?php endif;?>",
	exitUrl: "./",
	allowDownload: true,
	resourcesRoot: "./app/chickenpaint/",
	disableBootstrapAPI: true,
	fullScreenMode: "force",
	post_max_size: <?=h($max_pch)?>
	});
});
//画像受信後の処理と画面移動
const handleExit = ()=>{
<?php if($rep):?>
// 画像差し換えに必要なフォームデータをセット
const formData = new FormData();
formData.append("mode", "picrep"); 
formData.append("no", "<?= h($no)?>"); 
formData.append("id", "<?= h($id)?>"); 
formData.append("enc_pwd", "<?= h($pwd)?>"); 
formData.append("repcode", "<?= h($repcode)?>");
formData.append("paint_picrep", true);

// 画像差し換え
fetch("./", {
	method: 'POST',
	mode: 'same-origin',
	headers: {
		'X-Requested-With': 'chickenpaint'
		,
	},
	body: formData
})
.then(response => {
	if (response.ok) {

		if (response.redirected) {
			return window.location.href = response.url;
		}
		response.text().then((text) => {
			if (text.startsWith("error\n")) {
					console.log(text);
					return window.location.href = "./?mode=paintcom";
				}
		})
	}
})
.catch(error => {
	console.error('There was a problem with the fetch operation:', error);
	return window.location.href = "./?mode=paintcom";
});
<?php else:?>
return window.location.href = "./?mode=paintcom";
<?php endif;?>
}
</script>
</body>
</html>
