<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
	<?php include __DIR__.'/parts/head_preload_css_js.html';?>
	<title><?=h($boardname)?></title> 
	<script>
	function select_pic(){
		const select_picfile = document.getElementById('select_picfile');
		const paintcom_title = document.getElementById('paintcom_title');
		const paintcom_sage = document.getElementById('paintcom_sage');
		const paintcom_hide_animation = document.getElementById('paintcom_hide_animation');

		if(select_picfile){
			const csvString = select_picfile.value;
			const csvArray = csvString.split(',');
		
			if(csvArray[1] == 'res'){
				paintcom_title.style.display = "none";
				paintcom_sage.style.display = "";
			}else{
				paintcom_title.style.display = "";
				paintcom_sage.style.display = "none";
			}
			if(csvArray[2] == '.pch' || csvArray[2] == '.tgkr'){
				paintcom_hide_animation.style.display = "";
			}else{
				paintcom_hide_animation.style.display = "none";
			}
		}
	}
	document.addEventListener('DOMContentLoaded',()=>{
		const select_picfile = document.getElementById('select_picfile');
		if(select_picfile){
			select_pic();
			select_picfile.addEventListener('change',select_pic);
		}
	});
	</script>
</head>
<body>
	<div class="container">
		<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
		<nav class="menu_wrap" >
			<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
			<a href="#bottom">▽</a>
			</nav>
							   <hr>
			
		<div>
			<div class="error">
				<?php if(!$tmps):?>
				<?php if($en):?>The images was not found.<?php else:?>画像が見当たりません。<?php endif;?><br>
				<a href="#" onClick="javascript:window.history.back(-1);return false;"><?php if($en):?>Back<?php else:?>もどる<?php endif;?></a>
			</div>
			<?php endif;?>
<?php if($tmps):?>
			<?php foreach($out as $i=>$val):?>
			<?php foreach($val as $tempimg):?>
<div class="posted_img_form">
	<img src="<?=h($tempimg['src'])?>"
	alt="<?=h($tempimg['srcname'])?>" width="<?=h($tempimg['w'])?>" height="<?=h($tempimg['h'])?>"></div>
<?=h($tempimg['srcname'])?><br>
<?=h($tempimg['date'])?>

				<?php endforeach;?>
				<?php endforeach;?>
	</div>
<?php if($aikotoba):?>
<form action="./" method="POST" enctype="multipart/form-data" class="postform" id="res_form" onsubmit="return res_form_submit(event)">
<div id="error_message"></div>
	<table>
		<tr>
			<td><?php if($en):?>Name<?php else:?>名前<?php endif;?></td>
			<td>:</td>
			<td><input type="text" name="name" value="<?=h($namec)?>" autocomplete="username" class="input_txt"></td>
	
		</tr>
		<tr id="paintcom_title">
			<td><?php if($en):?>Subject<?php else:?>題名<?php endif;?></td>
			<td>:</td>
			<td><input type="text" name="sub" autocomplete="off" class="input_txt"></td>
		</tr>
		<tr>
			<td>URL</td>
			<td>:</td>
			<td><input type="text" name="url" value="<?=h($urlc)?>" autocomplete="off" class="input_txt"></td>
		</tr>
		</table>
	
<textarea name="com" class="post_com"></textarea><br>
<?php if($en):?>Password:<?php else:?>パスワード:<?php endif;?><input type="password" name="pwd" value="<?=h($pwdc)?>" autocomplete="current-password">
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="token" value="<?=h($token)?>">
<input type="hidden" name="pictmp" value="<?=h($pictmp)?>">
<div class="post_table_title"><?php if($en):?>Images<?php else:?>画像<?php endif;?>
	<select name="picfile" class="post_select_image" id="select_picfile">
	<?php foreach($out as $i=>$val):?>
	<?php krsort($val);?>

			<?php foreach($val as $tempimg):?>
				<option value="<?=h($tempimg['slect_src_val'])?>"><?=h($tempimg['srcname'])?></option>
				<?php endforeach;?>
	
				<?php endforeach;?>
			</select>
	<span id="paintcom_hide_animation">
		<input type="checkbox" name="hide_animation" id="hide_animation" value="on"><label for="hide_animation"><?php if($en):?>Hide Animation<?php else:?>動画を表示しない<?php endif;?></label>	
	</span>
	<?php if($use_hide_painttime):?>
		<span>
			<input type="checkbox" name="hide_painttime" id="hide_painttime" value="on"><label for="hide_painttime"><?php if($en):?>Hide paint time<?php else:?>描画時間を表示しない<?php endif;?></label>
		</span>
	<?php endif;?>
	<br>
		</div>

	<?php if(!$sage_all):?>
	<span id="paintcom_sage">
	<input type="checkbox" name="sage" value="on" id="sage"><label for="sage">sage</label>	
	</span>
	<?php endif;?>
	<?php if($mark_sensitive_image):?>
		<span>
			<input type="checkbox" name="hide_thumbnail" id="hide_thumbnail" <?php if($nsfw_checked):?>checked="checked"<?php endif;?>><label for="hide_thumbnail"><?php if($en):?>Sensitive content<?php else:?>閲覧注意にする<?php endif;?></label>
		</span>
	<?php endif;?>
	<input type="submit" value="<?php if($en):?>Post<?php else:?>投稿する<?php endif;?>" id="form_submit">
</form>
<?php endif; ?>

<?php endif; ?>

<br>
<?php if($tmps):?>
[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]
<?php endif;?>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<script>const paintcom = true;</script> 
<?php include __DIR__.'/parts/footer_js.html';?>
</body>
</html>
