<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><?=h($boardname)?></title> 
<script src="app/tegaki/tegaki.js?<?=h($parameter_day)?><?=h($petit_lot)?>"></script>
<link rel="stylesheet" href="app/tegaki/tegaki.css?<?=h($parameter_day)?><?=h($petit_lot)?>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

<style>
	:not(input){
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
</style>
<script>
	function fixtegaki() {
		document.addEventListener('dblclick', function(e){ e.preventDefault()}, { passive: false });
	}
	window.addEventListener('DOMContentLoaded',fixtegaki,false);
</script>

</head>
<body>
<script>
function showAlert(text) {
  if (Tegaki.saveReplay) {
    Tegaki.replayRecorder.start();
  }
  alert(text);
}
Tegaki.open({
// when the user clicks on Finish
  onDone: function() {
	
	//Petit Note 2021-2023 (c)satopian MIT Licence
	//この箇所はさとぴあが作成したMIT Licenceのコードです。

	if (Tegaki.saveReplay) {
		Tegaki.replayRecorder.stop();
	}
	const postData = (path, data) => {

		fetch(path, {
			method: 'post',
			mode: 'same-origin',
			headers: {
				'X-Requested-With': 'tegaki'
				,
			},
			body: data,
		})
		.then((response) => {
			if (response.ok) {
				response.text().then((text) => {
				console.log(text)
					if(text==='ok'){
						Tegaki.hide();//｢このサイトを離れますか?｣を解除
						return window.location.href="./?mode=<?=h($paintmode)?><?php if($rep):?>&no=<?=h($no)?>&id=<?=h($id)?>&pwd=<?=h($pwd)?>&repcode=<?=h($repcode)?><?php endif;?>";
					}
					return showAlert(text);
				})
			}else{
				let response_status = response.status; 

				if(response_status===403){
					return showAlert(<?php if($en):?>'It may be a WAF false positive.\nTry to draw a little more.'<?php else:?>'投稿に失敗。\nWAFの誤検知かもしれません。\nもう少し描いてみてください。'<?php endif;?>);
				}
				if(response_status===404){
					return showAlert(<?php if($en):?>'404 not found\nThe PHP file to save the image does not exist.'<?php else:?>'エラー404\n画像を保存するPHPファイルがありません。'<?php endif;?>);	
				}
				return showAlert(<?php if($en):?>'Your picture upload failed!\nPlease try again!'<?php else:?>'投稿に失敗。\n時間を置いて再度投稿してみてください。'<?php endif;?>);
			}
		})
		.catch((error) => {
				return showAlert(<?php if($en):?>'Server or line is unstable.\nPlease try again!'<?php else:?>'サーバまたは回線が不安定です。\n時間を置いて再度投稿してみてください。'<?php endif;?>);	
		})
	}

    Tegaki.flatten().toBlob(
      function(blob) {
        console.log(blob);
		var tgkr = Tegaki.replayRecorder ? Tegaki.replayRecorder.toBlob() : null;
		var formData = new FormData();
		if(tgkr){
			formData.append("tgkr",tgkr,'blob');
		}
		formData.append("picture",blob,'blob');
		formData.append("usercode", "<?=h($usercode)?>");
		 <?php if($rep):?>formData.append("repcode", "<?=h($repcode)?>");<?php endif;?>
		formData.append("tool", "tegaki");
		formData.append("stime", <?=time();?>);
		formData.append("resto", "<?=h($resto)?>");
		postData("./?mode=saveimage&tool=tegaki", formData);
      },
      'image/png'
    );
  },
  // (c)satopian MIT Licence ここまで

  // when the user clicks on Cancel
  onCancel: function() {
    console.log('Closing...')
  },
  // initial canvas size
  width: <?=h($picw)?>,
  height: <?=h($pich)?>,
  saveReplay: <?php if($imgfile):?>false<?php else:?>true<?php endif;?>,

});

<?php if($imgfile):?>
	var self = Tegaki;
    var image = new Image();
    image.onload = function() {
		self.activeLayer.ctx.drawImage(image, 0, 0);
		TegakiLayers.syncLayerImageData(self.activeLayer);
    };
    image.src = "<?=h($imgfile)?>"; // image URL
<?php endif;?>

</script>
</body>
</html>
