<!DOCTYPE html>
<?php include __DIR__.'/parts/html.html';?>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--SNS-->
<?php if($use_sns_button):?>
<meta name="Description" content="<?= h(s($out[0][0]['descriptioncom']))?>">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="[<?= h(s($out[0][0]['no']))?>] <?= h(s($out[0][0]['sub']))?> by <?= h(s($out[0][0]['name']))?> - <?=h(s($boardname))?>">
<meta property="og:type" content="article">
<meta property="og:url" content="<?=h($root_url)?>?resno=<?= h($out[0][0]['no'])?>">
<!-- 閲覧注意 またはNSFWが設定されている時は ogp imageを表示しない -->
<?php if(!((isset($set_nsfw)&&$set_nsfw)||$out[0][0]['hide_thumbnail']||$set_all_images_to_nsfw)):?>
<!-- thumbnail -->
<?php if($out[0][0]['thumbnail']):?>
<meta property="og:image" content="<?=h($root_url)?>thumbnail/<?=h($out[0][0]['thumbnail'])?>">
<?php else:?>
<meta property="og:image" content="<?php if($out[0][0]['img']):?><?=h($root_url)?>src/<?=h($out[0][0]['img'])?><?php endif;?>">
<?php endif;?>
<?php endif;?>
<meta property="og:site_name"  content="<?=h($boardname)?>">
<meta property="og:description" content="<?=h(s($out[0][0]['descriptioncom']))?>">
<?php endif;?>
<!--/SNS-->
<link rel="stylesheet" href="<?=h($skindir)?>index.css?<?=h($petit_lot)?>">
<?php include __DIR__.'/parts/head_preload_css_js.html';?>
<?php include __DIR__.'/parts/nsfw_css_control.html';?>
<title>[<?= h($out[0][0]['no'])?>] <?= h($out[0][0]['sub'])?> by <?= h($out[0][0]['name'])?> -  <?=h($boardname)?></title>
</head>
<body>
<div class="container" id="top">
	<!-- 閲覧注意警告 -->
	<?php include __DIR__.'/parts/form_view_nsfw.html'?>
	<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
	<nav class="menu_wrap">

		<span>[<a href="./"><?php if($en):?>Return<?php else:?>掲示板にもどる<?php endif;?></a>]</span>
		<span> [<a href="./?resno=<?=h($resno)?>&res_catalog=on"><?php if($en):?>Catalog<?php else:?>カタログ<?php endif;?></a>]</span>
		<?php if($display_search_nav):?>
			<span> [<a href="./?mode=search&radio=3"><?php if($en):?>Search<?php else:?>検索<?php endif;?></a>]</span>
		<?php endif;?>
	<?php if($aikotoba):?>
		<?php if($use_paint):?>
			<span> [<a href="./?mode=paintcom" rel="nofollow"><?php if($en):?>Recover Images<?php else:?>未投稿画像<?php endif;?></a>]</span>
		<?php endif;?>
		<span>
		<?php if($userdel || $admindel):?>
			[<a href="./?mode=logout" rel="nofollow"><?php if($en):?>Exit edit mode<?php else:?>編集モード終了<?php endif;?></a>]
		<?php else:?>
			[<a href="./?mode=userdel" rel="nofollow"><?php if($en):?>Edit<?php else:?>編集<?php endif;?></a>]
		<?php endif;?>
	<?php endif;?>
	<a href="#bottom">▽</a>
	<?php if($aikotoba):?>
		</span>
	<?php endif;?>
</nav>
<!-- 合言葉認証 -->
<?php include __DIR__.'/parts/form_aikotoba.html'?>
	<!-- 閲覧注意画像を隠す/隠さない -->
	<?php include __DIR__.'/parts/form_set_nsfw_show_hide.html';?>
<hr>
<?php if(isset($out)):?>
	<?php include __DIR__.'/parts/threads_loop.html'?>
<?php endif;?>

<?php if($resform && !$res_max_over):?>

<?php if($use_res_upload || $adminpost):?>
<?php if($use_paint):?>
	<form action="./" method="post" enctype="multipart/form-data" class="res_form" id="paint_forme" onsubmit="return res_form_submit(event,'paint_forme')">
		<div id="error_message_paintform"></div>
	<?php if($adminpost):?>
	<span>
	<input type="file" name="pchup" size="35" accept="image/*,.pch,.chi,.psd" class="pchup_button">
	</span>
	<br>
	<?php endif;?>
<input type="hidden" name="mode" value="paint">
<input type="hidden" name="resto" value="<?=h($res['no'])?>">
<input type="submit" value="Paint" class="paint_button">
<?php if($select_app):?>
<span>Tool:
<select name="app" class="select_applet">
<!-- ペイントアプリ選択のプルダウンメニューをインクルード -->
<?php include __DIR__.'/parts/select_apps.html'?>
</select>
</span>
<?php else:?>
<input type="hidden" name="app" value="<?=h($app_to_use)?>">
<?php endif;?>
<span class="canvas_size_wrap"> 
Size:
<?php include __DIR__."/parts/select_canvas_size.html"?>
</span>
</form>
<?php endif;?>
<?php endif;?>

<form action="./" method="POST" enctype="multipart/form-data" class="resform" id="res_form" onsubmit="return res_form_submit(event)">
	<div id="error_message"></div>
	<table class="resform">
		<tr>
			<td><?php if($en):?>Name<?php else:?>名前<?php endif;?></td>
			<td>:</td>
			<td><input type="text" name="name" value="<?=h($namec)?>" autocomplete="username" class="input_txt"></td>
		</tr>
		<?php if($adminpost||$use_url_input_field):?>
		<tr>
			<td>URL</td>
			<td>:</td>
			<td><input type="text" name="url" value="<?=h($urlc)?>" autocomplete="off" class="input_txt"></td>
		</tr>
		<?php endif;?>
		</table>
		<!-- <br> -->
<textarea name="com" class="post_com" id="res_com"></textarea><br>
<?php if($en):?>Password:<?php else:?>パスワード:<?php endif;?><input type="password" name="pwd" value="<?=h($pwdc)?>" autocomplete="current-password" minlength="6">
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="resto" value="<?=h($res['no'])?>">
<input type="hidden" name="token" value="<?=h($token)?>">
<br>
<?php if(($use_upload && $use_res_upload) || $adminpost):?>
<input type="hidden" name="MAX_FILE_SIZE" value="<?=h($max_byte)?>">
<input type="file" name="imgfile" size="35" accept="image/*" class="form_button" id="attach_image">
<br>
<?php endif;?>
<?php if(!$sage_all):?>
	<span>
	<input type="checkbox" name="sage" id="sage" value="on"><label for="sage">sage</label>
	</span>
<?php endif;?>
<?php if(($use_upload && $use_res_upload) || $adminpost):?>
<?php if($mark_sensitive_image):?>
	<span class="nsfw" id="check_nsfw">
<input type="checkbox" name="hide_thumbnail" id="hide_thumbnail" <?php if($nsfw_checked):?>checked="checked"<?php endif;?>><label for="hide_thumbnail"><?php if($en):?>Sensitive content<?php else:?>閲覧注意にする<?php endif;?>
</label>
</span>
<?php endif;?>
<?php endif;?>

<input type="submit" value="<?php if($en):?>Post<?php else:?>投稿する<?php endif;?>" class="form_button" id="form_submit">

</form>
<?php endif;?>

<hr>
<nav>
<!-- PC用 -->
<div class="pagelink pcdisp">
	<span class="res_prev">
	<?php if(!empty($prev)):?>
		<a href="./?resno=<?=h($prev['no'])?>">≪<?=h($prev['substr_sub'])?></a>
	<?php endif;?>
	</span>
	| <a href="./">Top</a> |
	<span class="res_next">
	<?php if(!empty($next)):?>
		<a href="./?resno=<?=h($next['no'])?>"><?=h($next['substr_sub'])?>≫</a>
	<?php endif;?>
	</span>
</div>
<!-- モバイル用 -->
<div class="mobiledisp">
	<?php if(!empty($prev)):?>
	prev: <a href="./?resno=<?=h($prev['no'])?>"><?=h($prev['sub'])?></a>
	<br>
	<?php endif;?>
	<?php if(!empty($next)):?>
	next: <a href="./?resno=<?=h($next['no'])?>"><?=h($next['sub'])?></a>
	<br>
	<?php endif;?>
	<a href="./">Top</a>
</div>
<?php if($view_other_works):?>
<div class="view_other_works">
<?php foreach($view_other_works as $view_other_work):?><div <?php if($view_other_work['hide_thumbnail'] && !$admindel):?>class="hide_thumbnail"<?php endif;?>>
	<a href="?resno=<?=h($view_other_work['no'])?>">
	<?php if($view_other_work['webpimg']):?>
	<picture><source srcset="<?=h($view_other_work['webpimg'])?>" type="image/webp">
	<?php endif;?>
	<img src="<?php if($view_other_work['thumbnail']):?>thumbnail/<?=h($view_other_work['thumbnail'])?>
		<?php else:?>
	src/<?=h($view_other_work['img'])?><?php endif?>" alt="<?=h($view_other_work['sub'])?> by <?=h($view_other_work['name'])?>" title="<?=h($view_other_work['sub'])?> by <?=h($view_other_work['name'])?>" width="<?=h($view_other_work['w'])?>" height="<?=h($view_other_work['h'])?>" loading="lazy">
	<?php if($view_other_work['webpimg']):?>
	</picture>
	<?php endif;?>
	</a></div><?php endforeach;?>
</div>
<?php endif;?>
</nav>
<div class="copy">
<div class="left_wrap">
<?php include __DIR__.'/parts/admin_login_link.html';?>
</div>
<div class="righit_wrap">
<?php include __DIR__.'/parts/copyright.html';?>
</div>
</div>
</div>
<div id="bottom"></div>
<div id="page_top"><a class="icon-angles-up-solid"></a></div>
<?php include __DIR__.'/parts/footer_js.html';?>
</body>
</html>
