<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><?=h($boardname)?></title> 
<script src="app/tegaki/tegaki.js?<?=h($parameter_day)?><?=h($petit_lot)?>"></script>
<link rel="stylesheet" href="app/tegaki/tegaki.css?<?=h($parameter_day)?><?=h($petit_lot)?>">
<meta name="viewport" content="width=<?=h($picw+100)?>, initial-scale=1.0,maximum-scale=1.0">
<style>
	:not(input){
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	#tegaki-canvas-cnt {
	overflow: inherit;
	touch-action: auto;
	}
</style>
</head>
<body>
<script>
Tegaki.open({
  replayMode: true,
  replayURL: '<?=h($pchfile)?>' // Store replay files preferably with the .tgkr extension
});

</script>
</body>
</html>
