body {
	margin: 10px;
	color: #555;
}
.container {
	max-width: 800px;
	margin: 35px auto;
	color: #555;
}
h1 {
font-size: 26px;
}
h2 {font-size: 18px;background-color: #ffe6e6;border-left: 8px solid #ffcfcf;border-bottom: 1px dashed #888;padding: 2px 6px 2px;margin: 8px 0;}
textarea.post_com {
width: 300px;
height: 120px;
margin: 10px;
}
textarea.rescom {
width: 300px;
height: 60px;
margin: 10px 0;
}

form.resform {
	text-align: right;
}
a {
color: #555;
}

a:hover{
	text-decoration: none;
}
.article_info{
margin: 5px 0 ;	
}
.posted_image {
max-width: 100%;
max-height: 500px;
margin: 0 10px 10px 0;
float: left;
}
.posted_image img {
max-width: 100%;
height: auto;
}
.comment {
    display: table;
    min-width: 200px;
}
.clear {
	clear: both;
}
hr {
border: none;
border-bottom: 1px dashed #888;
}
body {
	margin: 10px;
	color: #555;
}
.container {
	max-width: 800px;
	margin: 35px auto;
	color: #555;
}
h1 {
font-size: 26px;
margin:0 0 5px 0;
}
h2 {font-size: 18px;background-color: #ffe6e6;border-left: 8px solid #ffcfcf;border-bottom: 1px dashed #888;padding: 2px 6px 2px;margin: 8px 0;}
nav.memu_wrap {
    margin: 0px 0 12px;
}
textarea.post_com {
width: 300px;
height: 120px;
margin: 10px;
}
textarea.rescom {
width: 300px;
height: 60px;
margin: 10px 0;
}

form.resform {
	text-align: right;
}
a {
color: #555;
}

a:hover{
	text-decoration: none;
}
hr {
border: none;
border-bottom: 1px dashed #888;
}
.error{font-size: 18px;
	line-height: 1.8;
}
form.admin {
	text-align: right;
	margin: 5px 0 0 0;
}
form.aikotoba {
	text-align: right;
	margin: 5px 0 0 0;
	display: inline-block;
}
select.post_select_image {
    margin: 0px 6px 0;
}
.post_table_title {
    margin: 0px 0 12px;
}
.res_wrap {
    display: table;
}
.copy {
    text-align: right;
    margin: 12px 0 0;
}
/* メディアクエリ */
@media screen and (max-width:767px){.posted_image{float:none;margin-right:0};}
@media screen and (max-width:767px){textarea.post_com {max-width: 276px;}