@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2fm0zw');
  src:  url('fonts/icomoon.eot?2fm0zw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2fm0zw') format('truetype'),
    url('fonts/icomoon.woff?2fm0zw') format('woff'),
    url('fonts/icomoon.svg?2fm0zw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark2:before {
  content: "\ea11";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
