<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="index.css">
	<title>ぷちのーと</title>
</head>
<body>
<div class="container">
	<h1>Petit-Note</h1>
	<form action="./" method="post">
<input type="submit" value="PAINT" class="paint_button">
<span class="select_applet bold_gray">TOOL</span>
<select name="app" class="select_applet">
<option value="neo">PaintBBS NEO</option>
<option value="chi">ChickenPaint</option>
</select>
<span class="canvas_size_wrap">
<span class="canvas_size">Size</span>
<select name="picw" title="幅" class="canvas_select">
	<option value="300" selected>300</option><option value="350">350</option><option value="400">400</option><option value="450">450</option><option value="500">500</option><option value="550">550</option><option value="600">600</option><option value="650">650</option><option value="700">700</option></select> 
	x
<select name="pich" title="高さ" class="canvas_select">
<option value="300" selected>300</option><option value="350">350</option><option value="400">400</option><option value="450">450</option><option value="500">500</option><option value="550">550</option><option value="600">600</option><option value="650">650</option><option value="700">700</option></select> 
</span>
<input type="hidden" name="mode" value="paint"></form>


<form action="./" method="POST" enctype="multipart/form-data" class="postform">
題名:<input type="text" name="sub"><br>
名前:<input type="text" name="name" value="<?=h($namec)?>"><br>
<textarea name="com" class="post_com"></textarea>
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="token" value="<?=h($token)?>">
<br>
<input type="file" name="imgfile" size="35" accept="image/*">
<br>
<input type="submit" value="スレッドを立てる">
</form>
<hr>
	<!-- 親のループ -->
<?php if(isset($out)):?>
<?php foreach($out as $ress) : ?>

	<h2>[<?= h($ress[0]['no'])?>] <?= h($ress[0]['sub'])?></h2>
	<!-- スレッドのループ -->
	<?php $resform=true; ?>
	<?php foreach($ress as $i => $res) : ?>
		<hr class="reshr">
		[<?= h($ress[0]['no'])?>-<?= h($i)?>] 
		<?php if($res['name']):?>
			名前:<?= h($res['name'])?>
		<?php endif;?>
		<?php if($res['img']):?>
		[<?=h($res['tool'])?>]
		<?php endif;?>
	<?php if($adminmode):?>
		<form action="./" method="post">
	<input type="hidden" name="delid" value="<?=h($res['time'])?>">    
	<input type="hidden" name="delno" value="<?=h($res['no'])?>">   
	<input type="hidden" name="mode" value="del">   
	<input type="submit" value="削除する"> 
	</form>
	<?php endif;?> 
		<br>
		<?php if($res['img']):?>
			<img src="src/<?=h($res['img'])?>" alt="" loading="lazy">
			<br>
			<?php endif;?>
			<?= h($res['com'])?>
			<?php if($i>=$max_res){
				$resform=false;//最大レス数を超えている時はレスフォームを閉じる
			}?>
<?php endforeach;?>
<!-- 返信フォーム -->
<?php if($resform):?>
<form action="./" method="POST" enctype="multipart/form-data" class="resform">
名前:<input type="text" name="name"  value="<?=h($namec)?>"><br>
<textarea name="com" class="rescom"></textarea>
<input type="hidden" name="resno" value="<?=h($res['no'])?>">
<input type="hidden" name="mode" value="regist">
<input type="hidden" name="token" value="<?=h($token)?>">
<br>
<input type="file" name="imgfile" size="35" accept="image/*">
<br>
<input type="submit" value="返信">
</form>
<?php endif;?>
<hr>
<?php endforeach;?>
<?php endif;?>
<?php for($i = 0; $i < $count_alllog ; $i+=10) :?>
	<?php if($page==$i):?>
		 [<?=h($i/10)?>]
	<?php else: ?>
	<?php if($i==0):?>
		[<a href="?page=0">0</a>]
	<?php else:?>	
	  [<a href="?page=<?=h($i)?>"><?=h($i/10)?></a>]
	<?php endif;?>
	<?php endif;?>
	<?php endfor ;?>
<?php if($adminmode):?>
	<form action="./" method="post" class="admin">
<input type="hidden" name="mode" value="logout">
<input type="submit" value="ログアウト">
	</form>
<?php else: ?>
	<form action="./" method="post" class="admin">
<input type="password" name="adminpass">
<input type="hidden" name="mode" value="admin">
<input type="submit" value="管理者モード">
</form>
<?php endif; ?>
</div>
</body>
</html>
