<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<title>削除フォーム</title>
</head>
<body>
<div class="container error">


記事No:<?=$_SESSION['delno']?><br>
記事ID:<?=$_SESSION['delid']?><br>
を削除します。<br>
<form action="./" method="post">
<input type="hidden" name="mode" value="del">
<input type="hidden" name="delid" value="<?=h($delid)?>">
<input type="hidden" name="delno" value="<?=h($delno)?>">
<input type="password" name="pwd">
<input type="page" name="<?=h($page)?>">
<input type="submit" value="削除する">
</form>
<br>
<a href="./">もどる</a>
